* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  opacity: 0.5;
}
#pl-help {
  flex: auto;
  color: green;
  opacity: 0.5;
  margin-bottom: 1rem;
}
#pl-len {
  flex: auto;
}
#pl-len input {
  width: 2rem;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 2rem;
}

#pl-add-del {
  flex: auto;
  position: relative;
  display: flex;
}
#pl-chars {
  flex: auto;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  /* align-content: center; */
  /* justify-items: flex-start; */
}
.pl-char {
  flex-grow: 0;

  width: 2rem;
  height: 2rem;
  text-align: center;
  /* display: inline-block; */
  color: black;
  border: 0.2rem solid blue;
}

#pl-info {
  flex: auto;
  margin-top: 1rem;
  font-size: 2rem;
  color: green;
  opacity: 0.5;
}
#pl-add:hover {
  cursor: pointer;
}
#pl-add {
  display: none;
  position: absolute;

  text-align: center;
  line-height: 1.4rem;
  color: white;
  width: 1.4rem;
  height: 1.4rem;
  background-color: green;
  border-radius: 0.7rem;
}
#pl-del:hover {
  cursor: pointer;
}
#pl-del {
  display: none;
  position: absolute;

  text-align: center;
  line-height: 1.4rem;
  color: white;
  width: 1.4rem;
  height: 1.4rem;
  background-color: red;
  border-radius: 0.7rem;
}
