/* border: var(--debug-border); */
:root {
  --debug-border: 2px solid red;
  /* --debug-border: none; */

  --fg-main-color: rgba(73, 26, 2, 255);
  --fg-logo-color: rgba(66, 32, 11, 255);

  --font-sans-serif: Saira Condensed, sans-serif;
  --font-serif: Alfa Slab One, serif;

  --bg-gr1-color: rgba(255, 194, 25, 255);
  --bg-gr2-color: rgba(255, 255, 255, 255);
}

/* responsive debug */
#res {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*

flex

*/

.f-row {
  display: flex;
  flex-flow: row wrap;

  row-gap: 0;
  column-gap: 0;
}

.f-x-justify-edge {
  width: 100%;
  justify-content: space-between;
  border: var(--debug-border);
}

/*****************

group 1

*/
.gr1 {
  background-color: var(--bg-gr1-color);
}

/*

logo

*/
.gr1 .logo {
  flex: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  margin: 2vw 0 0 0;
  border: var(--debug-border);
}

.gr1 .logo-img {
  flex: auto;
  object-fit: contain;

  width: 8vw;
  padding: 0 0.5vw 0 2vw;
}

.gr1 .logo-text {
  color: var(--fg-logo-color);

  font-family: var(--font-sans-serif);
  font-weight: bold;
  /* padding: 0; */

  font-size: 2.5vw;

  /* transform: scaleX(0.9);
  transform: scaleY(1.3); */
}

/* 

express delivery

*/
.gr1 .delivery {
  flex: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  margin: 2vw 0 0 0;
  border: var(--debug-border);
}

.gr1 .delivery-img {
  flex: auto;
  object-fit: contain;

  width: 6vw;
  /* filter: invert(); */
  /* color: white; */
}

.gr1 .delivery-text {
  color: var(--fg-main-color);

  font-family: var(--font-sans-serif);
  font-weight: bold;

  font-size: 2vw;
  padding: 0 2vw 0 0.5vw;
}

.gr1 .tel {
  text-decoration: none;
  color: var(--fg-main-color);
}

.gr1 .tel:hover {
  cursor: pointer;
}

/* 

navbar 

*/
.gr1 .navbar {
  flex: auto;
  margin: 0;
  width: 100%;

  list-style-type: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  z-index: 10;
  border: var(--debug-border);
}

/* .navbar li {
  transform: scaleY(1.3);
} */

.gr1 .navbar-element {
  flex: auto;
  margin: 0;

  text-decoration: none;

  color: var(--fg-main-color);
  font-family: var(--font-sans-serif);
  font-weight: bold;
  border: var(--debug-border);

  font-size: 2.5vw;
  padding: 0 4vw 0 0;
}

.gr1 .navbar-element:hover {
  cursor: pointer;
}

/* 

center-area

*/

.gr1 .center-area-col {
  flex: auto;
  margin: 0;

  /* display: block; */
  border: var(--debug-border);
}

.gr1 .text-slogan {
  display: block;

  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-sans-serif);

  margin: 6vw 0 0 5vw;
  border: 0.2vw dashed var(--fg-main-color);
  font-size: 1.8vw;
  width: 38vw;
  padding: 0.5vw 0vw;
  /* transform: scaleY(1.3);
  transform: scaleX(0.7);
  transform: scaleY(-0.5); */
}

.gr1 .text-burger {
  display: block;

  font-family: var(--font-serif);
  color: var(--fg-main-color);
  border: var(--debug-border);

  font-size: 11vw;
  margin: 0 0 0 5vw;
  filter: drop-shadow(2vw 2vw 1.8vw white);
}

.gr1 .text-week {
  display: block;

  font-family: var(--font-serif);
  color: var(--fg-main-color);
  border: var(--debug-border);

  font-size: 5vw;
  margin: 0 0 10vw 5vw;
  filter: drop-shadow(2vw 2vw 1.8vw white);
}

.gr1 .big-for-main-page {
  float: right;
  position: absolute;
  object-fit: contain;
  /* align-self: flex-start; */
  border: var(--debug-border);
  z-index: 1;
  width: 44vw;
  margin-left: -25vw;
  filter: drop-shadow(0 -5vw 3vw white);
}

/*

tablet

.m // medium

*/
@media only screen and (max-width: 961px) {
  #res {
    background-color: green;
    /* width: 961px; */
  }
}

/* 

mobile 

.s // small 

*/
@media only screen and (max-width: 320px) {
  #res {
    background-color: red;
    /* width: 320px; */
  }
}

/*****************

group 2

*/
.gr2 {
  background-color: var(--bg-gr2-color);
}

/*

try it

*/
.gr2 .try_col1 {
  flex: auto;
  position: relative;
  width: 49vw;
}

.gr2 .try_col1 img {
  border-radius: 1vw;
  width: 40vw;
  margin: 5vw 5vw 5vw 8vw;
  /* border: var(--debug-border); */
}

.gr2 .try_col1 p:first-of-type {
  position: absolute;
  text-transform: capitalize;
  font-family: var(--font-sans-serif);
  color: var(--bg-gr2-color);
  padding: 0;

  font-size: 2vw;
  top: 4vw;
  left: 11vw;
  /* border: var(--debug-border); */
}

.gr2 .try_col1 p:nth-of-type(2) {
  position: absolute;
  text-transform: capitalize;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  color: var(--bg-gr2-color);
  padding: 0;

  font-size: 2.8vw;
  top: 5.5vw;
  left: 11vw;
  /* border: var(--debug-border); */
}

/* ----------------*/
.gr2 .try_col2 {
  flex: auto;
  width: 49vw;
  /* border: var(--debug-border); */
}

.gr2 .try_row1 {
  position: relative;
  margin: 0;
  /* border: var(--debug-border); */
}
.gr2 .try_row2 {
  position: relative;
  margin: 0;
}

.gr2 .try_row1 img {
  border-radius: 1vw;
  width: 40vw;
  margin: 5vw 12vw 0vw 2vw;
  /* border: var(--debug-border); */
}

.gr2 .try_row2 img {
  border-radius: 1vw;
  width: 40vw;
  margin: 1.9vw 12vw 5vw 2vw;
  /* border: var(--debug-border); */
}

.gr2 .try_col2 p:first-of-type {
  position: absolute;
  text-transform: capitalize;
  font-family: var(--font-sans-serif);
  color: var(--bg-gr2-color);
  padding: 0;

  font-size: 2vw;
  top: 4vw;
  left: 5vw;
  /* border: var(--debug-border); */
}

.gr2 .try_col2 p:nth-of-type(2) {
  position: absolute;
  text-transform: capitalize;
  font-family: var(--font-sans-serif);
  font-weight: bold;
  color: var(--bg-gr2-color);
  padding: 0;

  line-height: 2.8vw;
  font-size: 2.8vw;
  top: 7vw;
  left: 5vw;
  /* border: var(--debug-border); */
}
