/* border: var(--debug-border); */
:root {
  --debug-border: 2px solid red;
  /* --debug-border: none; */

  --fg-main-color: rgba(73, 26, 2, 255);
  --fg-logo-color: rgba(66, 32, 11, 255);
  --fg-logo-color-opacity: rgba(66, 32, 11, 0.5);

  --font-sans-serif: Saira Condensed, sans-serif;
  --font-serif: Alfa Slab One, serif;

  --bg-g1-color: rgba(255, 194, 25, 255);
  --bg-g2-color: rgba(255, 255, 255, 255);

  --order-btn-bg-color: rgba(255, 0, 0, 255);
  --order-btn-fg-color: rgba(255, 255, 255, 255);

  --circle-color: rgba(200, 200, 200, 255);
  --circle-active-color: rgba(255, 194, 25, 255);

  --logo-svg-to-bg-g1-color: invert(76%) sepia(79%) saturate(1052%)
    hue-rotate(342deg) brightness(103%) contrast(103%);
  --svg-black-to-white: invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(315deg) brightness(103%) contrast(102%);
  --logo-svg-to-fg-logo-color: invert(12%) sepia(66%) saturate(1139%)
    hue-rotate(352deg) brightness(89%) contrast(94%);
  /* does not work in @media
  --media-m: 961px;
  --media-s: 320px;
  */

  --img-rotate: 4deg;
  --img-l-rotate: -4deg;
  --shadow-light-color: rgba(200, 200, 200, 255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/**********

A N I M A T I O N

*/
@keyframes anim_tilting {
  0%,
  100% {
    transform: rotateZ(0deg) translate(0, 0%);
  }

  25% {
    transform: rotateZ(10deg) translate(1rem, 0%);
  }

  50% {
    transform: rotateZ(0deg) translate(0, 0%);
  }

  75% {
    transform: rotateZ(-10deg) translate(-1rem, 0%);
  }
}

/**********/
@keyframes anim_color {
  0% {
    background-color: var(--bg-g2-color);
    border-radius: 1rem;
    /* padding: 0.4rem; */
    opacity: 0.5;
    /* background-color: var(--bg-g1-color); */
  }
  100% {
    background-color: var(--bg-g1-color);
    border-radius: 1rem;
    /* padding: 0.4rem; */
    opacity: 1;
    /* background-color: var(--bg-g2-color); */
  }
}
@keyframes anim_logo {
  0%,
  100% {
    transform: translateX(0) scaleY(1);
  }
  50% {
    transform: translateX(5%) scaleY(0.7);
  }
}

/************/
@keyframes anim_press {
  from {
    transform: scale(50%);
  }
  to {
    transform: scale(100%);
  }
}

/*******/
.g1 {
  display: flex;
  flex-flow: row wrap;

  row-gap: 0;
  column-gap: 0;
  background-color: var(--bg-g1-color);
}
.g1 .top_block {
  flex: auto;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 0;
  column-gap: 0;
}
/* menu common*/
.g1 .menu {
  flex: auto;

  display: flex;
  flex-flow: column nowrap;

  /* justify-content: initial;
  position: initial; */
}

.g1 .menu ul {
  flex: auto;
  list-style-type: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  z-index: 10;
}

.g1 .menu ul a {
  flex: auto;

  text-decoration: none;

  color: var(--fg-main-color);
  font-family: var(--font-sans-serif);
  font-weight: bold;
  filter: drop-shadow(0vw 0vw 0.4vw var(--bg-g1-color));
}
.g1 ul a:hover,
.g1 ul a:focus {
  cursor: pointer;
  animation: 1s ease-in-out anim_color 1 forwards;
}
.g1 ul a:active {
  animation: 0.1s ease-in anim_press 1 forwards;
}

.g1 .logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  z-index: 13;
}

.g1 .logo p,
.g1 .logo h1,
.g1 .logo strong {
  flex: auto;
  color: var(--fg-logo-color);
  font-family: var(--font-sans-serif);
  font-weight: bold;
}

.g1 .delivery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 4;
}

.g1 .delivery img {
  flex: auto;
  filter: var(--svg-black-to-white);
}

.g1 .delivery p,
.g1 .delivery strong {
  color: var(--fg-main-color);
  font-family: var(--font-sans-serif);
  font-weight: bold;
}

.g1 .tel {
  text-decoration: none;
  color: var(--fg-main-color);
}

.g1 .tel:hover {
  cursor: pointer;
}

.g1 .logo img {
  flex: auto;

  filter: var(--logo-svg-to-fg-logo-color);
  animation-name: anim_logo;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
