body {
  background-color: var(--bg-g1-color);
}
.grid-cont {
  display: flex;
  flex-flow: column nowrap;
}

.frame {
  flex: auto;

  overflow: auto;
  /* height: auto; */
  padding: 0;
  margin: 0;
  display: block; /* iframes are inline by default */
  border: none; /* Reset default border */
  height: 100vh; /* Viewport-relative units */
  width: 100vw;

  background-color: var(--bg-g1-color);
}
h1 {
  flex: auto;
  text-align: center;
  font-family: var(--font-serif);
  color: var(--fg-main-color);
  font-size: 4vw;
  margin: 0;
  padding: 0;
}
.group {
  flex: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.group a {
  flex: auto;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-g2-color);
  text-decoration: none;
}

.group a:active {
  animation: 0.1s ease-in anim_press 1 forwards;
}

.group a img {
  flex: auto;
}
.group a h2 {
  flex: auto;
  text-align: center;

  text-transform: capitalize;
  color: var(--fg-main-color);
  font-family: var(--font-sans-serif);
  font-weight: bold;
}
.group a:hover,
.group a:focus {
  cursor: pointer;
}
/**********
S M A L L
**********/
@media only screen and (min-width: 0px) and (max-width: 599px) {
  .res.s {
    display: block;
  }

  .g1 {
    flex-flow: row wrap;
    /* margin: 0 0 0 0; */
  }

  .g1 .top_block {
    justify-content: flex-end;
    margin: 0;
  }
  /* menu small */
  .g1 .menu img {
    flex: auto;
    width: 7vw;
    margin: 2vw 13vw 0 4vw;
    filter: var(--logo-svg-to-fg-logo-color);
  }
  .g1 .menu:hover,
  .g1 .menu:active {
    cursor: pointer;
  }

  .g1 .menu {
    justify-content: flex-start;
    position: relative;
  }
  .g1 .menu ul {
    background-color: var(--bg-g1-color);
    filter: drop-shadow(2vw 2vw 0.8vw var(--bg-g2-color));

    display: none;
    position: absolute;
    top: 12vw;
    left: -3vw;
    z-index: 10;
    margin: 0;
    /* width: 100%; */
  }
  .g1 .menu ul a {
    margin: 0;
    font-size: 8vw;
    padding: 0.2vw;
  }

  .g1 .logo img {
    width: 7vw;
    margin: 2vw 2vw 0 2vw;
  }
  .g1 .logo p,
  .g1 .logo h1,
  .g1 .logo strong {
    font-size: 6vw;
    margin: 2vw 4vw 0 0;
  }

  .g1 .delivery {
    margin: 0;
    padding: 0;
  }
  .g1 .delivery img {
    width: 7vw;
    margin: 0;
    /* margin: 1vw 0 0 4vw; */
  }
  .g1 .delivery p,
  .g1 .delivery strong {
    font-size: 5vw;
    padding: 0 2vw 0 1vw;
  }

  h1 {
    font-size: 16vw;
  }

  .group a {
    /* border: 0.3vw dashed var(--fg-logo-color); */
    border-radius: 1vw;
    margin: 1vw 0.5vw 0 0.5vw;
    background-color: var(--fg-logo-color);
  }
  .group a img {
    display: none;
  }
  .group a h2 {
    font-size: 6vw;
    margin: 0;
    color: var(--bg-g2-color);
    filter: drop-shadow(0vw 0vw 0.4vw var(--bg-g1-color));
  }
}
/**********
M I D D L E
**********/
@media only screen and (min-width: 600px) and (max-width: 1279px) {
  .res.m {
    display: block;
  }

  /* menu medium */
  .g1 .menu img {
    display: none;
  }
  .g1 .menu {
    order: 2;
    position: static;
  }
  .g1 .menu ul {
    margin: 0;
    width: 100%;
  }

  .g1 .menu ul a {
    margin: 0;
    font-size: 2.5vw;
    padding: 0 4vw 0 2vw;
  }

  .g1 .logo {
    float: auto;
    /* border: var(--debug-border); */
  }
  .g1 .logo img {
    width: 5vw;
    margin: 0.2vw 2vw;
  }
  .g1 .logo p,
  .g1 .logo h1,
  .g1 .logo strong {
    font-size: 3vw;
  }

  .g1 .delivery img {
    width: 5vw;
  }
  .g1 .delivery p,
  .g1 .delivery strong {
    font-size: 2vw;
    padding: 0 2vw 0 0.5vw;
  }
  /******/
  .group a {
    position: relative;
    background-color: var(--bg-g1-color);
    /* border: 0.3vw dashed var(--fg-logo-color); */
    border-radius: 1vw;
    margin: 1vw 0.5vw 0 0.5vw;
  }
  .group a img {
    border-radius: 1vw;
    width: 14vw;
    padding: 0.5vw;
    margin: 0;
  }
  .group a h2 {
    position: absolute;
    color: var(--bg-g2-color);
    top: 0;
    left: 1vw;
    font-size: 3vw;
    margin: 0;
    padding: 0 2vw;
    border-radius: 1vw;
    background-color: var(--fg-logo-color-opacity);

    /* filter: drop-shadow(0vw 0vw 0.4vw var(--bg-g1-color)); */
  }
}

/**********
L A R G E
**********/
@media only screen and (min-width: 1280px) {
  .res.l {
    display: block;
  }
  body {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  body .large {
    flex: auto;
    width: 80rem;

    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .g1,
  .group,
  .h1 {
    flex: auto;
  }

  /* menu large*/
  .g1 .menu img {
    display: none;
  }
  .g1 .menu {
    order: 2;
  }
  .g1 .menu ul {
    margin: 0;
    width: 100%;
  }
  .g1 .menu ul a {
    margin: 0;
    font-size: 2rem;
    padding: 0 4rem 0 2rem;
  }

  .g1 .logo img {
    width: 5rem;
    margin: 0.2rem 2rem;
  }
  .g1 .logo p,
  .g1 .logo h1,
  .g1 .logo strong {
    font-size: 3rem;
  }

  .g1 .delivery img {
    width: 5rem;
  }
  .g1 .delivery p,
  .g1 .delivery strong {
    font-size: 2rem;
    padding: 0 2rem 0 0.5rem;
  }

  /******/

  .group a {
    position: relative;
    background-color: var(--bg-g1-color);
    /* border: 0.3rem dashed var(--fg-logo-color); */
    border-radius: 1rem;
    margin: 1rem 0.5rem 0 0.5rem;
  }
  .group a img {
    border-radius: 1rem;
    width: 14rem;
    padding: 0.5rem;
    margin: 0;
  }
  .group a h2 {
    position: absolute;
    color: var(--bg-g2-color);
    top: 0;
    left: 1rem;
    font-size: 3rem;
    margin: 0;
    padding: 0 2rem;
    border-radius: 1rem;
    background-color: var(--fg-logo-color-opacity);
  }
}
