.grid-cont {
  display: grid;
  margin: 0;
  padding: 0;
  row-gap: 0;
  column-gap: 0;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.g2 {
  grid-area: g2;
  /* border: var(--debug-border); */
}
.g2-img {
  grid-area: g2img;
  /* border: var(--debug-border); */
}
.st-3 {
  grid-area: s3;
  /* border: var(--debug-border); */
}
.st-3-img {
  grid-area: s3img;
  /* border: var(--debug-border); */
}
.st-4 {
  grid-area: s4;
}
.st-4-img {
  grid-area: s4img;
}
.st-5 {
  grid-area: s5;
}
.st-5-img {
  grid-area: s5img;
}
.st-6 {
  grid-area: s6;
}
.st-6-img {
  grid-area: s6img;
}
.st-7 {
  grid-area: s7;
}
.st-7-img {
  grid-area: s7img;
}
.st-8 {
  grid-area: s8;
}
.st-8-img {
  grid-area: s8img;
}
.st-9 {
  grid-area: s9;
}
.st-9-img {
  grid-area: s9img;
}
.button-top {
  grid-area: btop;
}
/***************/
.g2 h1 {
  text-transform: uppercase;
  font-family: var(--font-serif);
  color: var(--fg-main-color);
  font-weight: normal;
}

.g2 p:nth-child(2) {
  font-family: var(--font-sans-serif);
  color: var(--fg-main-color);
}
[class|="st"] h2 {
  font-family: var(--font-sans-serif);
  color: var(--fg-main-color);
}
[class|="st"] input {
  border: none;
  text-transform: uppercase;
  font-family: var(--font-sans-serif);
  background-color: var(--bg-g1-color);
  color: var(--fg-logo-color);
}

[class|="st"] input:hover,
[class|="st"] input:focus {
  cursor: pointer;
}
[class|="st"] input:active {
  animation: 0.1s ease-in anim_press 1 forwards;
}
[class|="st"] p {
  font-family: var(--font-sans-serif);
  color: var(--fg-logo-color);
}

[class|="st"] img {
  object-fit: contain;
}
.button-top {
  margin: 0 auto;
  text-align: center;
}
.button-top a {
  background-color: var(--fg-logo-color);
  color: var(--bg-g2-color);
  text-decoration: none;
}
/**********
S M A L L
**********/
@media only screen and (min-width: 0px) and (max-width: 599px) {
  .g1 {
    flex-flow: row wrap;
    /* margin: 0 0 0 0; */
  }

  .g1 .top_block {
    justify-content: flex-end;
    margin: 0;
  }
  /* menu small */
  .g1 .menu img {
    flex: auto;
    width: 7vw;
    margin: 2vw 13vw 0 4vw;
    filter: var(--logo-svg-to-fg-logo-color);
  }
  .g1 .menu:hover,
  .g1 .menu:active {
    cursor: pointer;
  }

  .g1 .menu {
    justify-content: flex-start;
    position: relative;
  }
  .g1 .menu ul {
    background-color: var(--bg-g1-color);
    filter: drop-shadow(2vw 2vw 0.8vw var(--bg-g2-color));
    width: 60vw;

    display: none;
    position: absolute;
    top: 12vw;
    left: -3vw;
    z-index: 10;
    margin: 0;

    /* background: var(--bg-g1-color); */
    /* width: 100%; */
  }
  .g1 .menu ul a {
    margin: 0;
    font-size: 8vw;
    padding: 0.2vw;
    filter: drop-shadow(0vw 0vw 0.4vw var(--bg-g1-color));
  }

  .g1 .logo img {
    width: 7vw;
    margin: 2vw 2vw 0 2vw;
  }
  .g1 .logo p,
  .g1 .logo h1,
  .g1 .logo strong {
    font-size: 6vw;
    margin: 2vw 4vw 0 0;
  }

  .g1 .delivery {
    margin: 0;
    padding: 0;
  }
  .g1 .delivery img {
    width: 7vw;
    margin: 0;
    /* margin: 1vw 0 0 4vw; */
  }
  .g1 .delivery p,
  .g1 .delivery strong {
    font-size: 5vw;
    padding: 0 2vw 0 1vw;
  }

  /* small */
  .grid-cont {
    /* position: relative; */

    /* grid-template-columns: 1fr; */
    grid-template-areas:
      "g2img"
      "g2   "
      "s3img"
      "s3   "
      "s4img"
      "s4   "
      "s5   "
      "s5img"
      "s6   "
      "s6img"
      "s7   "
      "s7img"
      "s8   "
      "s8img"
      "s9   "
      "s9img"
      "btop";
  }

  .button-top {
    width: 30vw;
    padding: 3vw;
    margin: 4vw 0 6vw 0;
  }

  .button-top a {
    font-size: 4vw;
    padding: 3vw;
    border-radius: 4vw;
  }

  .g2 h1 {
    text-align: center;
    font-size: 12vw;
  }
  .g2 p {
    font-size: 8vw;
    padding: 3vw;
  }
  .g2-img img,
  [class|="st"] img {
    width: 100%;
    /* margin: 6vw 0 6vw 5vw; */
    border-radius: 6vw;
    padding: 2vw;
  }

  [class|="st"] h2 {
    padding: 6vw 0 0 0;
    text-align: center;
    font-size: 8vw;
  }
  [class|="st"] p {
    font-size: 6vw;
    padding: 2vw;
  }
  [class|="st"] input {
    font-size: 10vw;
    /* border-radius: 1vw; */
    padding: 0 4vw;
    border-radius: 2vw;
  }
  [class|="st"] form {
    /* margin: 0 auto; */
    text-align: center;
    margin: 0 0 14vw 0;
  }

  .g2 h1,
  .g2-img img,
  [class|="st"] h2 {
    filter: drop-shadow(0vw 1vw 1.8vw var(--bg-g1-color));
  }
  .button-top a,
  [class|="st"] img,
  [class|="st"] form {
    filter: drop-shadow(0vw 0vw 1.8vw var(--fg-main-color));
  }
  [class~="tilt"] form {
    /* [class~="tilt"]:not(div[class*="img"]) { */
    margin: 6vw 0 6vw 0;
    transform: rotate(var(--img-rotate));
  }
  [class~="ltilt"] form {
    margin: 6vw 0 6vw 0;
    transform: rotate(var(--img-l-rotate));
  }
}
/**********
M I D D L E
**********/
@media only screen and (min-width: 600px) and (max-width: 1279px) {
  /* menu medium */
  .g1 .menu img {
    display: none;
  }
  .g1 .menu {
    order: 2;
    position: static;
  }
  .g1 .menu ul {
    margin: 0;
    width: 100%;
  }

  .g1 .menu ul a {
    margin: 0;
    font-size: 2.5vw;
    padding: 0 4vw 0 2vw;
  }

  .g1 .logo {
    float: auto;
    /* border: var(--debug-border); */
  }
  .g1 .logo img {
    width: 5vw;
    margin: 0.2vw 2vw;
  }
  .g1 .logo p,
  .g1 .logo h1,
  .g1 .logo strong {
    font-size: 3vw;
  }

  .g1 .delivery img {
    width: 5vw;
  }
  .g1 .delivery p,
  .g1 .delivery strong {
    font-size: 2vw;
    padding: 0 2vw 0 0.5vw;
  }

  .grid-cont {
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-areas:
      "g2     g2img   g2img"
      "s5img  s5img   s5"
      "s3     s3img   s3img"
      "s4img  s4img   s4"
      "s6img  s6      s6"
      "s7     s7img   s7img"
      "s8img  s8img   s8"
      "s9     s9img   s9img"
      "btop   btop    btop";
  }
  .button-top {
    width: 30vw;
    padding: 3vw;
    margin-bottom: 6vw;
  }

  .button-top a {
    font-size: 3vw;
    padding: 1vw;
    border-radius: 2vw;
  }
  .g2 h1 {
    text-align: center;
    font-size: 5vw;
  }
  .g2 p {
    font-size: 3vw;
    padding: 2vw;
    text-align: center;
  }
  .g2-img img,
  [class|="st"] img {
    width: 100%;
    border-radius: 4vw;
    padding: 2vw;
  }
  [class|="st"] h2 {
    padding: 0 0.5vw 0 0.5vw;
    text-align: center;
    font-size: 4vw;
  }
  [class|="st"] p {
    font-size: 3vw;
    padding: 2vw;
  }
  [class|="st"] input {
    font-size: 4vw;
    /* border-radius: 1vw; */
    padding: 0 4vw;
    border-radius: 2vw;
  }
  [class|="st"] form {
    /* margin: 0 auto; */
    text-align: center;
    margin: 0 0 14vw 0;
  }

  .g2 h1,
  [class|="st"] h2 {
    filter: drop-shadow(3vw 3vw 1.8vw var(--bg-g1-color));
  }
  .button-top,
  .g2-img img,
  [class|="st"] img,
  [class|="st"] form {
    filter: drop-shadow(0vw 0vw 1.8vw var(--fg-main-color));
  }
  [class~="tilt"] form {
    /* [class~="tilt"]:not(div[class*="img"]) { */
    margin: 6vw 0 6vw 0;
    transform: rotate(var(--img-rotate));
  }
  [class~="ltilt"] form {
    margin: 6vw 0 6vw 0;
    transform: rotate(var(--img-l-rotate));
  }
}

/**********
L A R G E
**********/
@media only screen and (min-width: 1280px) {
  body {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  body .large {
    flex: auto;
    width: 80rem;

    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .g1,
  .grid-cont {
    flex: auto;
  }

  .g1 {
    margin: 0 0 0 0;
  }

  /* menu large*/
  .g1 .menu img {
    display: none;
  }
  .g1 .menu {
    order: 2;
  }
  .g1 .menu ul {
    margin: 0;
    width: 100%;
  }
  .g1 .menu ul a {
    margin: 0;
    font-size: 2rem;
    padding: 0 4rem 0 2rem;
  }

  .g1 .logo img {
    width: 5rem;
    margin: 0.2rem 2rem;
  }
  .g1 .logo p,
  .g1 .logo h1,
  .g1 .logo strong {
    font-size: 3rem;
  }

  .g1 .delivery img {
    width: 5rem;
  }
  .g1 .delivery p,
  .g1 .delivery strong {
    font-size: 2rem;
    padding: 0 2rem 0 0.5rem;
  }

  .grid-cont {
    background-color: var(--bg-g1-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "g2     g2   g2img"
      "s5img  s6img   s7img"
      "s5     s6      s7"
      "s8img  s4img   s3img"
      "s8     s4      s3"
      "s9     s9img   s9img"
      "btop   btop    btop";
  }
  .button-top {
    width: 30rem;
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .button-top a {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  .g2 h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 4rem;
  }
  .g2 p {
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
  }
  .g2-img img,
  [class|="st"] img {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
  }
  [class|="st"] h2 {
    padding: 0 1rem 0 1rem;
    text-align: center;
    font-size: 3rem;
  }
  [class|="st"] p {
    font-size: 2rem;
    padding: 1rem;
  }
  [class|="st"] input {
    font-size: 2rem;
    /* border-radius: 1rem; */
    padding: 0 3rem;
    border-radius: 1rem;
  }
  [class|="st"] form {
    /* margin: 0 auto; */
    text-align: center;
    margin: 0 0 8rem 0;
  }

  .g2 h1,
  [class|="st"] h2 {
    filter: drop-shadow(0rem 2rem 0.8rem var(--bg-g2-color));
  }
  .button-top,
  .g2-img img,
  [class|="st"] img,
  [class|="st"] form {
    z-index: 15;
    filter: drop-shadow(0rem 0rem 1.8rem var(--fg-main-color));
  }
  [class~="tilt"] form {
    margin: 6rem 0 6rem 0;
    transform: rotate(var(--img-rotate));
  }
  [class~="ltilt"] form {
    margin: 6rem 0 6rem 0;
    transform: rotate(var(--img-l-rotate));
  }
}
